.logo{
color:#FFC947;
 

}
.logo:hover{
 color:#F7F6F2;


}
h1{
font-family: 'Ubuntu Condensed',
sans-serif;
font-size: 3rem;
line-height: 1.5;
font-weight: 900;
 
}

#title{
    background-color: #39A2DB;
}
#moto{
   font-family: 'Roboto',
   sans-serif;
    color:#F7F6F2;
}
#moto:hover{
  color: #F7F6F2;
  font-family: 'Ubuntu',
  sans-serif;
  font-family: 'Montserrat',
  sans-serif;

}
.container-fluid{
   padding: 0% 5% ;


}
p{
    font-family: 'Roboto',
    sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #F7F6F2;

}
p:hover{
    color: #171010;
}
