body {
    background-color: #161616;

}
 hr  {
     background-color: #161616;
     border-style: dotted none none none;
     border-color: grey;
     border-width: 2px;

     width: 50%;

 }




 #ccheading{
     color: aqua;
     background-color: #161616;
 }

#ccheading:hover{
    color:#FFF47D;
}

 .contact{

    background-color: aquamarine;
 }
 .header{
     color: black;
     background-color:aquamarine;
 }
 .header:hover{
     color: #000000;
 }
 #contacthr{
   width: auto;
 }